.left-sidebar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 210px;
}

.sidebar{
    transition: background-color 0.5s;
    cursor: pointer;
}

.sidebar:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.change-LLM{
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.LLM{
    font-size: 18px;
    color: #B4B4B4; 
    font-weight: 600;
}

.profile-pic{
    margin-right: 18px;
    display: flex;
    align-items: end;
}

.prof-pic{
    border-radius: 18px;
    width: 35px;
    height: 35px;
}